{% extends "base.twig" %}

{% block content %}
  <h3>{{ post.title }}</h3>
  {% if success %}
    {% if post.success_message %}
      <div class="success">{{ post.success_message }}</div>
    {% endif %}
  {% else %}
    {% if post.above_text %}
    <div class="above">{{ post.above_text }}</div>
    {% endif %}

    <form class="magic_cf_form" action="{{ form.url }}" method="post">
      <input type="hidden" name="nonce" value="{{ form.nonce }}" />
      <input type="hidden" name="action" value="{{ form.action }}" />

      {% include 'magic-form-error.twig' with { err: 'insert' } %}
      {% include 'magic-form-error.twig' with { err: 'nonce' } %}
      {% include 'magic-form-error.twig' with { err: 'send_customer' } %}
      {% include 'magic-form-error.twig' with { err: 'send_team' } %}

      <ul>
        <li>
          {% include 'magic-form-input.twig' with { name: 'username' } %}
        </li>
        <li>
          {% include 'magic-form-input.twig' with {
            name: 'email',
            type: 'email',
            error: 'missing_email',
          } %}
        </li>
        <li>
          {% include 'magic-form-input.twig' with {
            name: 'subject',
            type: 'text',
            error: 'missing_subject',
          } %}
        </li>
        <li>
          {% include 'magic-form-textarea.twig' with {
            name: 'content',
            error: 'missing_content',
            rows: 10,
          } %}
        </li>
        <li>
          {% include 'magic-form-submit-button.twig' %}
        </li>
      </ul>
    </form>

    {% if post.below_text %}
    <div class="below">{{ post.below_text }}</div>
    {% endif %}
  {% endif %}
{% endblock %}
