{% extends "base.twig" %}

{% block content %}
  <h3>{{ post.title }}</h3>
  {% if _REQUEST.success %}
    {% if post.success_message %}
      <div class="success">{{ post.success_message }}</div>
    {% endif %}
  {% else %}
    {% if post.above_text %}
    <div class="above">{{ post.above_text }}</div>
    {% endif %}

    <form class="magic_cf_form" action="{{ form.url }}" method="post">
      <input type="hidden" name="nonce" value="{{ form.nonce }}" />
      <input type="hidden" name="action" value="{{ form.action }}" />

      {% if form.error == 'insert' and post.error_insert %}
        <div class="error">{{ post.error_insert }}</div>
      {% elseif form.error == 'nonce' and post.error_nonce %}
        <div class="error">{{ post.error_nonce }}</div>
      {% endif %}

      <ul>
        <li>
          <input type="text" name="username" placeholder="{{ post.name_placeholder }}" value="{% if _REQUEST.username %}{{ _REQUEST.username }}{% else %}{{ name }}{% endif %}" />
        </li>
        <li>
          {% if form.error == 'email' and post.error_email %}
            <div class="error">{{ post.error_email }}</div>
          {% endif %}
          <input type="email" name="email" placeholder="{{ post.email_placeholder }}" value="{% if _REQUEST.email %}{{ _REQUEST.email }}{% else %}{{ email }}{% endif %}" />
        </li>
        <li>
          <input type="text" name="subject" placeholder="{{ post.subject_placeholder }}" value="{{ _REQUEST.subject }}" />
        </li>
        <li>
          {% if form.error == 'content' and post.error_content %}
            <div class="error">{{ post.error_content }}</div>
          {% endif %}
          <textarea name="content" rows="10" placeholder="{{ post.message_placeholder }}">{{ _REQUEST.message }}</textarea>
        </li>
        <li>
          <input type="submit" value="{{ post.submit_text }}" />
        </li>
      </ul>
    </form>

    {% if post.below_text %}
    <div class="below">{{ post.below_text }}</div>
    {% endif %}
  {% endif %}
{% endblock %}
